.simply-countdown {
  margin: auto;
  overflow: hidden;
  display: table;
  font-family: 'Fira Code', monospace;
}

.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 5px;
  background: var(--bg);
  border-radius: 50%;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.1rem;
}

